@font-face {
    font-family: 'Tourney';
    src: url('../fonts/Tourney-ThinItalic.eot');
    src: url('../fonts/Tourney-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tourney-ThinItalic.woff2') format('woff2'),
        url('../fonts/Tourney-ThinItalic.woff') format('woff'),
        url('../fonts/Tourney-ThinItalic.svg#Tourney-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


